@import '../dw4/_dw4';
@import 'css/visualStates';

/* WIDTHS */
@containerWidth: 1200px;
@containerWidthTablet : 720px;
@gutterWidth: 10px;
/* COLORS */
@b:   #2F3640;
@w:   #f5f5f5;
@g:    #888;
@main:    #2282C2;
@sec:     #F943A8;

/* FONTS */

.font{ font-family: 'Lato', sans-serif; }
.font2{font-family: 'Pt Serif', serif; }
/* -----------  */

html, body{ height: 100%; background-image: url(img/bg.png);
background-repeat: repeat;}
body{
  background-image: url(img/bg.png);
  background-repeat: repeat;
  .font;
  color:@w;
}



.hidden{display: none;}
.hr{
  width: 147px; height: 11px;
  background-image: url(img/divisor.png);
  margin: 20px 0;
}



.maincontainer{height: 100%;}

.menucontainer{
  background: url(img/menu_bg.png);
  min-height: 100%;

  a{
    color:@w;
    .font2;
  }


  label.fa-bars{
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 9999999;
    font-size: 30px;
    cursor: pointer;
  }

  #menubtn:checked{
    &+.menu{
      margin-left: 0;
      .transition(all .5s);
    }
  }

  .menu{
    background: url(img/menu_bg.png);
    height: 100%;
    position: relative;

    @media @mobile{
      .transition(all .5s);
      margin-left: -100%;
    }


    &:after{
      content:"";
      width: 23px; height: 100%;
      position: absolute;
      top: 0; right: -23px;
      bottom: 0;
      background-image: url(img/menu-shadow.png);
      background-repeat: no-repeat;
      background-position: top;
    }
    h1{
      padding: 30px 0;
      @media @mobile{
        padding: 10px 0;
      }
      img{
        width: 90%;
        max-width: 110px;
        @media @mobile{
          width: auto;
          height: 80px;
        }
      }
    }

    nav{
      overflow-y: auto;
      padding-bottom: 10px;
      ul{
        li{
          margin: 10px 0;
          @media @mobile{margin: 0;}
          a{
            display: block;
            padding: 4px 20px;
            &:hover, &.active{
              background: @w;
              color:@b;
              position: relative;
              &:before, &:after{
                content:""; width: 14px; height: 38px;
                background-image: url(img/btn-corners.png);
                position: absolute;
                background-repeat: no-repeat;
              }
              &:before{
                left: 5px; top: 5px;
                background-position: left top;
              }
              &:after{
                right: 5px; bottom: 5px;
                background-position: right bottom;
              }
            }
          }
        }
      }
    }

    .menufooter{
      height: auto;
      padding: 10px 0;
      font-size: 0.9em;
    }
  }


  @media @mobile{
    position: fixed;
    left: 0;  top: 0;
    z-index: 9999999;
  }

}



h2{font-size: 3em; .font2; @media @mobile{font-size: 2em;}}
h3{font-size: 2em; .font2; @media @mobile{ font-size: 1.4em;}}
p{margin: 20px 0;}

.outline{
  //img{ width: 90%; margin-left: 10%; }
  img{
    width: 100%;
  }
  position: relative;
  
  /*
  &:before{
    content:"";
    position: absolute;
    left: -20px; top: -14px;
    width: 120px; height: 180px;
    background-image: url(img/outline-img.png);
    background-repeat: no-repeat;
    @media @mobile{
      width: 40px; height: 50px;
    }
  }

  */

}

.diagonal{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 280px;
  margin: 100px 0 180px 0;
  position: relative;
  div{
    .font2;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    line-height: 1.1em;
    position: absolute;
    z-index: 3;
    background-image: url(img/diagonal-bg.png);
    width: 100%; height: 106px;
    background-size: 100%;
    .box-sizing(border-box);
    color:@b;
    span{
      display: block;
    }
  }
  &.top{
    div{
      background-position: bottom;
      top:0;
      padding-top: 16px;
      span{color:@sec;}
    }
  }
  &.bottom{
    div{
      background-position: top;
      bottom: 0;
      padding-top: 36px;
      span{color:@main;}
    }
  }
}



/* ############## */

.image-a{ background-image: url(img/que-es-maria-ozomalli-a.jpg); }
.image-b{ background-image: url(img/que-es-maria-ozomalli-b.jpg); }
.image-c{ background-image: url(img/inspiracion.jpg); }



/* ############## */

#inicio{
  //min-height: 100%;
  background-image: url(img/inicio.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 200px 0;
  p{
    font-size: 1.2em;
  }
  h2{
    .font2;
    font-size: 4.6em;
    font-weight: bold;
    line-height: 1.4em;
    &+p{
      font-size: 1.8em;
      @media @mobile{}
        font-size: 1.4em;
    }
    @media @mobile{
      font-size: 2em;
    }
  }
  a{
    display: block;
    margin: 100px 0 -100px 0;
    .floating;
  }
}

#que-es-maria-ozomalli, #inspiracion, #disenos-personalizados, #disenos-para-tu-empresa, #galeria, #contacto, #admin{
  padding: 100px 0;
}

#inspiracion{
  background: rgba(0,0,0,0.3);
}

#disenos-personalizados, #disenos-para-tu-empresa{
  .mt2{ margin-top: 80px; }
}



.imageuploaded{
  margin-bottom: 20px;
  position: relative;
  height: 120px;
  overflow: hidden;
  .fromGallery{
    position: absolute;
    z-index: 3;
    bottom: 0;left: 0;
    background: fade(@b/2, 70%);
    padding: 5px;
    font-size: 0.8em;
    width: 100%;
  }
    button{
      position: absolute;
      top: 5px; right: 5px;
      background: @main;
      color:@w;
      border:none;
      cursor:pointer;
      padding: 1px 5px;
    }

}

.newgalform{
  input{
    background: #000;
    padding: 10px;
  }
}

.addToGal{
  width: 80%;
  padding: 0;
}



form.loginform{
  .modal{
    position: fixed;
    left: 0; right: 0; top: 0; bottom: 0;
    width: 100%; height: 100%;
    background: fade(@b, 95%);
    z-index: 999999;
  }
  .access{
    position: fixed;
    left: 0%; top: 50%;
    width: 340px;
    margin-top: -30px;
    background: @main;
    z-index: 9999991;
    .box-shadow(0 0 30px @b/1.2);
    padding: 10px 0 ;
    input{
      padding: 8px;
      background:@b/1.2;
    }
  }
  .loginerror{color:@b; padding: 5px;}
}


blockquote{
  font-size: 0.8em;
  color:@w/1.2;
  i{color:@main;}
}





slick{
  .slick-arrow{
    position: absolute;
    top: 50%;
    font-size: 0;
    &:after{
      font-family: FontAwesome;
      font-size: 20px;
    }
    &.slick-prev{
      left: -40px;
      &:after{
        content: "\f053";
      }
    }
    &.slick-next{
      right: -40px;
      &:after{
        content: "\f054";
      }
    }
  }
  .slick-slide{
    a{
      display: block;
      margin: 40px 20px;
      @media @mobile{
        margin: 10px;
      }
    }
  }
}



#contacto{
  p{
    padding: 20px 0;
    a{
      color:@main;
      
      i{
        margin-right: 20px;
      }
    }
  }
}
